*, *::before, *::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root{
	--background: #171e17;
	--color: lightgreen;
	--colorRGB: 144, 238, 144;
	--highlight1: darkgreen;
	--highlight1RGB: 0, 100, 0;
	--highlight2: black;
	--highlight2RGB: 0, 0, 0;
}

html, body{
	background: var(--background);
	color: var(--color);
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
}

#header{
	align-items: center;
	background: var(--highlight2);
	border-bottom: var(--color) 1px solid;
	display: flex;
	justify-content: space-between;
	padding: 1em;
}

.navbar-right{
	font-size: 20px;
}

#footer{
	background: var(--highlight2);
	border-top: var(--color) 1px solid;
	bottom: 0;
	flex: 0 0 auto;
	font-size: small;
	padding: .5em 0;
	position: fixed;
	text-align: center;
	width: 100%;
}

#main{
	align-items: center;
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 50%;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100vw;
}

.login-box{
	align-items: center;
	box-shadow: 0 1px 4px 1px rgba(var(--colorRGB), 0.25);
	display: flex;
	flex-direction: column;
	max-width: 90vw;
	padding: 1em 0;
	pointer-events: auto;
	width: 260px;
}

.login-title{
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}

.login-box form{
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.login-label{
	align-self: flex-start;
	font-size: 12px;
	margin: 0 0 5px 20px;
}

.login-input{
	background: transparent;
	border-radius: 3px;
	border: 1px solid var(--color);
	color: var(--color);
	font-size: 12px;
	height: 24px;
	margin-bottom: 20px;
	outline: none;
	padding: 0 8px;
	transition: all 0.2s;
	width: 220px;
}

.login-input:focus{
	border-color: var(--color);
	box-shadow: 0 0 0 2px rgba(var(--colorRGB), 0.25);
}

.login-btn {
	background: var(--highlight2);
	border-radius: 3px;
	border: none;
	box-shadow: 0 2px 4px rgba(var(--highlight2RGB), 0.25);
	color: var(--color);
	cursor: pointer;
	font-size: 11px;
	font-weight: 700;
	padding: 6px 10px;
	text-transform: uppercase;
	transition: all 0.2s;
}

.login-btn:hover,
.login-btn:focus{
	background: var(--color);
	box-shadow: 0 4px 8px rgba(var(--colorRGB), 0.25);
	color: black;
	outline-offset: 2px;
	outline: 2px solid var(--color);
}

@media (max-width: 400px){
	.login-box{
		padding: 16px 0 20px;
		width: 98vw;
	}
	.login-input{
		width: 90vw;
	}
}

