<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title><%- title %></title>
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body>
		<section id="header">
			<% include header %>
		</section>

		<section id="main">
			<div><%- text %></div>
		</section>

		<section id="footer">
			<% include footer %>
		</section>
	</body>
</html>

